* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*to change the font accourding to the screen size*/
html {
    font-size: 62.5%
}
/*media queries*/
@media only screen and (max-width: 37.5em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%
    }
} 
body{
  font-family: 'Montserrat', sans-serif;

}
header{ 
/*  background: linear-gradient(white, red),url('images');*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.63)),url('images/cover.jpg');
  background-position: bottom;
  height: 100vh;
  width: 98.8vw;
}
nav{
    display: flex;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.74);
    justify-content: space-between;
    align-items: center;
}
.nav-controls{
    color:antiquewhite;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-right: 2rem;
}
.nav-controls a{
    text-decoration: none;
    color: white;
}
.nav-controls i{
    font-size: 3rem;
    transform: translateY(4px);
}
.logo{
/*  position: absolute;*/
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.3px;
  padding-left: 2rem;;
  display: flex;
  align-items: center;
  height: 100%;
}
.header-text1{
  color: white;
  font-size: 2rem;
    text-align: center;
/*
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
*/
}
.header-text2{
  color: white;
  font-size: 2.5rem;
    text-align: center;
}
.plant{
    color: #6dff72;
    font-size: 5rem;
}
.header-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem;
    border: 2px solid rgba(255, 255, 255, 0.67);
    position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%,-50%);
}
@media only screen and (max-width: 37.5em) {
    .header-box{
        width:80%;
        height: 70%;
        padding: 6rem 3rem;
/*        padding-top: 6rem;*/
    }
}
.container{
    margin: 7rem auto;
    text-align: center;
/*
    position: absolute;
    top: 50%;
        left: 50%;
    transform: translate(-50%, -50%)
*/
}
.upload-box{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
/*****************************************
  upload button styles
******************************************/
.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload__label {
  display: block;
  padding: 1rem 2rem;
  color: #000;
    font-size: 1.3rem;
  background: #13c91e;
  border-radius: .4em;
  transition: background .3s;
}
.file-upload__label:hover {
  cursor: pointer;
  background: #0f9617;
}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}

.upload-button{
    background-color: transparent;
    color: #13c91e;
    border: none;
    box-shadow: none;
    font-size: 7rem;
    cursor: pointer;
    transform: translate(.2rem,-3.2rem);
}


.section1{
    background-color: #f2f2f2;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.section1::before{
    content: "";
    height: 100%;
/*    width: 100%;*/
    position: absolute;
    top: 0;
    width: 100%;
    background: url('images/background-top-left.svg') no-repeat;
    background-size: 200px;
}
.section1::after{
    content: "";
    height: 100vh;
    position: absolute;
/*    width: 100%;*/
    right: 0px;
    left: calc( 100% - 19rem);
    top:calc( 100% - 14rem);
    background: url('images/background-bottom-right.png') no-repeat;
    background-size: 200px;
    transform: rotate()
}
.section1-body{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    position: absolute;
    top:50%;
    width: 100%;
    padding: 10%;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    color: #818181;
/*    overflow: hidden;*/
}
.section1-body-text{
    width:100%;
    padding: 4rem;
    text-align: center;
}
.section1-body-text2{
    font-size: 1.6rem;
    margin: 1rem;
}
.section1-background-mobile{
/*
    width: 15rem;
    height: 15rem;
*/

/*    position: absolute;*/
/*    right: 5%;*/
/*    top: 50%;*/
/*    height: 40%;*/
/*    transform: translateY(-50%);*/
}
.section1-background-mobile img{
/*    height: 60%;*/
    width: 100%;
/*    text-align: right;*/
/*    right: 0;*/
    display: block;
}

@media only screen and (max-width: 37.5em) {
    .section1::after{
/*    left: calc( 100% - 200px);*/
/*    top:calc( 100% - 12rem);*/
        bottom: 0;
    }
    .section1-body {
            flex-direction: column;
    }
    .section1-background-mobile img{
        height: 20rem;
        margin: 0 auto;
        display: block;
    }
}
main{
  height: 100vh;
}
